
<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head') %>
  <body>
    <%- include('includes/header') %>
<body>


    <form action="/register" method="POST">
        <% context.errors.forEach(error => { %>
 <p class="notice"><%= error %></p>
 <% }) %>

            
            
    <fieldset>
        <form action="register" method="POST">
        
            <label>Username</label>
            <input type="username" id="username" name="username" placeholder="username">  </input>
            <br>
            <label>Password</label>
            <input type="password" id="password" name="password" placeholder="password">  </input>
            <br>
            <button>Register</button>
    
        </form>
        
    </fieldset>

    <!-- <% context.errors.forEach(error => { %>
        <p class="notice"><%= error %></p>
        <% }) %>


    <h1 style="color: green;">
		<%- context.greeting%>
        <br/>
        <%- context.user %>
        <br/>
        <%- context.url %>
	</h1>   
    
    
    <form action="/" method="POST">
        <input type="text" id="zzz" name="some" placeholder="Type your text">  </input>

        <button>Post</button>

    </form> -->
</body>
<%- include('includes/footer') %>
</html>